<!-- Display Places -->
<% @places.each do |place| %>
	<div class="booyah-box col-10 offset-1">
		<h1><%= link_to place.name, place_path(place) %></h1><br />
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p>

		<!-- Display last user comment -->
		<% if place.comments.present? %>
			<div class="col-12">
				<blockquote class="text-left">
					<% if place.comments.last.humanized_rating.present? %>
						<b><%= link_to place.comments.last.humanized_rating, place_path(place) %></b> -
					<% end %>
						<%= place.comments.last.message %>
					<div class="text-right">
						<small><%= place.comments.last.user.email %></small>
					</div>
				</blockquote>
			</div>
		<% end %>

		<!-- Display last user photo -->
		<% if place.photos.present? %>
			<div class="col-6 offset-3">
				<% if place.photos.last.picture.present? %>
					<%= link_to image_tag(place.photos.last.picture.url, class: 'img-thumbnail'), place_path(place) %>
				<% end %>
			</div>
		<% end %>

		<!-- Display user email -->
		<% if place.user.present? %>
			<div class="text-right">
				<small><%= place.user.email %></small>
			</div>
		<% end %>
	</div>
<% end %>

<!-- Page Pagination -->
<div class="apple_pagination col-4 offset-4">
	<%= will_paginate(@places, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: "< Back", next_label: "Next >", inner_window: 1, outer_window: 0) %>
</div>